:root {
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --bg-color1: rgba(235, 235, 235, 0.6);
    --bg-color2: rgba(255, 255, 255, 0.6);
    --shadow1: 0 0 4px #3333;
    --blur: blur(10px);
    --bg1: #ffffff;
    --icon-color: none;
}

.icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    filter: var(--icon-color);
}

html {
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    border-radius: 10px;
    height: 8px;
    width: 8px;
    background-color: #ddd;
}
::-webkit-scrollbar-corner {
    background-color: #0000;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    position: relative;
    z-index: 2;
}
#nav > #tabs {
    display: flex;
}
#nav > #tabs > div {
    margin: 0 4px;
}
#nav > #items {
    width: 100%;
    display: flex;
}
#nav > #items > div {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    transition: var(--transition);
    white-space: nowrap;
}
#nav > #items > div::-webkit-scrollbar {
    display: none;
}
#nav > #items > div > div {
    margin: 0 4px;
}
#items > div > div,
#tabs > div {
    cursor: pointer;
}
#upload_i {
    display: none;
}

#画布 {
    flex-grow: 1;
    position: relative;
    background-color: var(--bg1);
    overflow: hidden;
}

/* 画布 */
#O {
    position: absolute;
    top: 0;
    left: 0;
}
#选择 {
    position: absolute;
    top: 0;
    left: 0;
}
#选择 > div {
    position: absolute;
    border: 1px solid #000;
}

/* 导航 */
#导航 {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
}
#导航 > div {
    width: 16px;
    height: 16px;
    background-color: #eee;
    border-radius: 50%;
    border: none;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
    outline: none;
}
#导航 > div > .icon {
    width: 16px;
    height: 16px;
}

#上下文菜单 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.上下文菜单展示 {
    opacity: 1 !important;
    pointer-events: all !important;
}

x-sinppet {
    width: 300px;
    height: 300px;
    display: block;
    overflow: auto;
    position: fixed;
    right: 10px;
}

.add_tag {
    position: absolute;
    outline: none;
    padding: 0;
    border: none;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}

x-x {
    position: absolute;
    display: block;
    width: 60vw;
}

x-x:hover > #x-x_bar {
    opacity: 1;
    pointer-events: all;
}

x-x > * {
    margin: 0;
    outline: none;
}

x-x > #x-x_bar {
    display: flex;
    position: absolute;
    top: -16px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}
x-x > #x-x_bar > div {
    width: 16px;
    height: 16px;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}
x-x > #x-x_bar > input {
    border: none;
    padding: 0;
    outline: none;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    margin-right: 4px;
    box-shadow: var(--shadow1);
}
x-x > #x-x_bar > input:nth-child(1) {
    width: 100px;
}
x-x > #x-x_bar > input[list="tags"] {
    width: 50px;
}

x-page {
    position: absolute;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
}
x-page > #x-page_bar {
    display: flex;
    position: absolute;
    bottom: -16px;
    transition: var(--transition);
}
x-page > #x-page_bar > * {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    height: 16px;
}
x-page > #x-page_bar > div {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
x-page > #x-page_bar > select {
    border: none;
    padding: 0;
    outline: none;
    margin-right: 4px;
}
x-page > #x-page_bar > input {
    border: none;
    padding: 0;
    outline: none;
    margin-right: 4px;
    width: 300px;
}

.x-x_selected {
    outline: 1px solid #0000ff;
}

x-md {
    position: relative;
    display: block;
}
#t_md {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    box-shadow: var(--shadow1);
}
x-md > textarea {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    outline: none;
    border: none;
}

.show_md {
    opacity: 1 !important;
    pointer-events: all !important;
}

.contains-task-list {
    list-style: none;
    padding-inline-start: 16px;
}

x-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
x-graph > div:not(#t_md) {
    width: 500px;
    height: 500px;
}

x-graph > textarea {
    opacity: 0;
    pointer-events: none;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    outline: none;
    border: none;
}

@media (any-pointer: coarse) {
    #items > div > div,
    #tabs > div {
        padding: 8px !important;
        margin: 0 !important;
    }
    #导航 > div {
        width: 32px;
        height: 32px;
    }
    #导航 > div > .icon {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 420px) {
    x-graph > div:not(#t_md) {
        width: 300px;
        height: 300px;
    }
}

@media (prefers-color-scheme: dark) {
}
