:root {
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --bg-color1: rgba(235, 235, 235, 0.6);
    --bg-color2: rgba(255, 255, 255, 0.6);
    --bg-color3: #ddd;
    --shadow1: 0 0 4px #3333;
    --blur: blur(10px);
    --bg1: #ffffff;
    --icon-color: none;
    --icon-p-b-size: 32px;
    --icon-size: 24px;
    --icon-margin: 4px;
    --item-height: 24px;
    --item-icon: 24px;
    --item-icon-margin: 0;
    --zest-index: 0;
}

.icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    filter: var(--icon-color);
    user-select: none;
    -webkit-user-drag: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
body > #main {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
}

body > #main > #nav {
    position: relative;
    z-index: 2;
    grid-area: 1 / 1 / 2 / 2;
    width: 100vw;
    display: flex;
}
body > #main > #nav > div:nth-child(1),
body > #main > #nav > div:nth-child(2),
body > #main > #nav > div:nth-child(3) {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: var(--icon-p-b-size);
    overflow-x: scroll;
}
body > #main > #nav > div:nth-child(1)::-webkit-scrollbar,
body > #main > #nav > div:nth-child(2)::-webkit-scrollbar,
body > #main > #nav > div:nth-child(3)::-webkit-scrollbar {
    display: none;
}
body > #main > #nav > div:nth-child(1) > div,
body > #main > #nav > div:nth-child(2) > div,
body > #main > #nav > div:nth-child(3) > div {
    cursor: pointer;
    position: relative;
    min-width: var(--icon-p-b-size);
    height: var(--icon-p-b-size);
}
body > #main > #nav > div:nth-child(1) > div > .icon,
body > #main > #nav > div:nth-child(2) > div > .icon,
body > #main > #nav > div:nth-child(3) > div > .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    left: var(--icon-margin);
    top: var(--icon-margin);
}
body > #main > #nav > div:nth-child(1) #upload_i {
    display: none;
}

#penc {
    width: 100%;
    height: 100%;
    padding: 0;
}

body > #main > #nav > #search_bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
body > #main > #nav #search {
    flex-grow: 1;
}

.db_load {
    display: none;
}

.侧栏 {
    display: flex;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: var(--icon-p-b-size);
    height: calc(100vh - var(--icon-p-b-size));
    transform: translateX(-100%);
    z-index: calc(var(--zest-index) + 8);
}
.侧栏显示 {
    transform: translateX(0%);
}

.侧栏 > #tabs {
    width: var(--icon-p-b-size);
    display: flex;
    flex-direction: column;
}

.侧栏 > #tabs > div {
    width: var(--icon-p-b-size);
    height: var(--icon-p-b-size);
    position: relative;
    cursor: pointer;
}

.侧栏 > #tabs > div > .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    left: var(--icon-margin);
    top: var(--icon-margin);
}

.侧栏 > #items {
    flex-grow: 1;
    overflow: hidden;
    width: 192px;
}

.侧栏 > #items > div:nth-child(1) {
    height: 100%;
}
.侧栏 > #items > div:not(:nth-child(1)) {
    height: 0;
}

.侧栏 > #items > div {
    overflow: auto;
}

.侧栏 > #items > #文件 > div:nth-child(1) {
    height: var(--icon-p-b-size);
    position: relative;
    cursor: pointer;
}
.侧栏 > #items > #文件 > div:nth-child(1) > .icon {
    height: var(--icon-size);
    width: var(--icon-size);
    top: var(--icon-margin);
    left: calc(50% - var(--icon-size) / 2);
}
.侧栏 > #items > #文件 > div {
    display: flex;
    width: 100%;
    align-items: center;
    height: var(--item-height);
}
.侧栏 > #items > #文件 > div > div {
    width: var(--item-height);
    height: var(--item-height);
    position: relative;
    cursor: pointer;
}
.侧栏 > #items > #文件 > div > div > .icon {
    width: var(--item-icon);
    height: var(--item-icon);
    left: var(--item-icon-margin);
    top: var(--item-icon-margin);
}
.侧栏 > #items > #文件 > div > input {
    width: calc(100% - var(--item-height));
    box-sizing: border-box;
}

.侧栏 > #items > #集 > * {
    height: var(--item-height);
}
.侧栏 > #items > #集 > input {
    width: 100%;
    box-sizing: border-box;
}

.侧栏 > #items > #层容器 {
    display: flex;
    flex-direction: column;
}
.侧栏 > #items > #层容器 > div:nth-child(1) {
    position: sticky;
    top: 0;
}
.侧栏 > #items > #层容器 > div:nth-child(1) > div {
    width: var(--icon-p-b-size);
    height: var(--icon-p-b-size);
    position: relative;
    float: left;
    cursor: pointer;
}
.侧栏 > #items > #层容器 > div:nth-child(1) > div > .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    left: var(--icon-margin);
    top: var(--icon-margin);
}

.侧栏 > #items > #工具 > div {
    width: var(--icon-p-b-size);
    height: var(--icon-p-b-size);
    position: relative;
    float: left;
    cursor: pointer;
}
.侧栏 > #items > #工具 > div > .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    left: var(--icon-margin);
    top: var(--icon-margin);
}

.侧栏 > #items > #markdown > div {
    width: var(--icon-p-b-size);
    height: var(--icon-p-b-size);
    position: relative;
    float: left;
    cursor: pointer;
}
.侧栏 > #items > #markdown > div > .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    left: var(--icon-margin);
    top: var(--icon-margin);
}
dialog > #close_webdav_files {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.层容器 {
    overflow: auto;
}

.层容器 > textarea {
    resize: vertical;
    width: 100%;
}

.层容器 > #层 > div {
    display: flex;
    height: var(--item-height);
}
.层容器 > #层 > div > input[type="text"] {
    width: 100%;
}

body > #main > #画布 {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    grid-area: 2 / 1 / 3 / 2;
    touch-action: none;
}

/* 画布 */
body > #main > #画布 > #O {
    position: absolute;
    top: 0;
    left: 0;
}
body > #main > #画布 > #选择 {
    position: absolute;
    top: 0;
    left: 0;
}
body > #main > #画布 > #选择 > div {
    position: absolute;
}

/* 导航 */
body > #main > #画布 > #导航 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
}
body > #main > #画布 > #导航 > div {
    width: 16px;
    height: 16px;
    border: none;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
}
body > #main > #画布 > #导航 > div > .icon {
    width: 16px;
    height: 16px;
}
body > #main > #画布 > #paste {
    opacity: 0;
    pointer-events: none;
}

body > #搜索结果 {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 50%;
    overflow: auto;
}

body > #上下文菜单 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.上下文菜单展示 {
    opacity: 1 !important;
    pointer-events: all !important;
}

body > #设置 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
    display: none;
    z-index: calc(var(--zest-index) + 9);
}

body > #设置 > #close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}

body > #设置 > #close > .icon {
    width: 16px;
    height: 16px;
}

body > #toast {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    z-index: calc(var(--zest-index) + 8);
}

.toast_show {
    opacity: 1 !important;
    pointer-events: all !important;
}

x-sinppet {
    float: left;
    overflow: auto;
}

.add_tag {
    position: absolute;
}

x-x {
    position: absolute;
    display: block;
    width: max-content;
}

.x-x_bar_show {
    opacity: 1 !important;
    pointer-events: all !important;
}

x-x > * {
    margin: 0;
    outline: none;
}

x-x > #x-x_bar {
    display: flex;
    position: absolute;
    top: -16px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}
x-x > #x-x_bar > div {
    width: 16px;
    height: 16px;
    position: relative;
}
x-x > #x-x_bar > div > .icon {
    width: 16px;
    height: 16px;
}
x-x:focus-within {
    z-index: calc(var(--zest-index) + 1) !important;
}

x-md {
    position: relative;
    display: block;
}
#t_md {
    width: 16px;
    height: 16px;
}
x-md > textarea {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
}

.show_md {
    display: inline-block;
}

.contains-task-list {
    list-style: none;
    padding-inline-start: 16px;
}

x-draw > div {
    width: 16px;
    height: 16px;
    position: fixed;
    right: 0;
    top: 0;
}

x-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
x-graph > div:not(#t_md) {
    width: 500px;
    height: 500px;
}

x-graph > textarea {
    opacity: 0;
    pointer-events: none;
}

x-pro {
    display: inline-block;
    width: 40px;
    height: 16px;
    overflow: hidden;
    position: relative;
}
x-pro > div {
    height: 100%;
}
x-pro > span {
    position: absolute;
    top: 0;
    font-size: 12px;
    height: 16px;
    width: 100%;
    text-align: center;
    mix-blend-mode: difference;
}

x-draw {
    display: block;
    pointer-events: all;
}
x-draw > svg:nth-child(2) {
    position: absolute;
    left: 0;
    z-index: -1;
}

@media (any-pointer: coarse) {
    :root {
        --icon-p-b-size: 48px;
        --icon-size: 28px;
        --icon-margin: 10px;
        --item-height: 36px;
        --item-icon: 24px;
        --item-icon-margin: 6px;
    }
    #导航 > div {
        width: 32px;
        height: 32px;
    }
    #导航 > div > .icon {
        width: 32px;
        height: 32px;
    }
    x-sinppet > div {
        zoom: 1.5;
    }
    x-sinppet > div > span {
        margin: 0 4px;
    }
}

@media screen and (max-width: 420px) {
    x-graph > div:not(#t_md) {
        width: 300px;
        height: 300px;
    }
}

@media all and (orientation: portrait) {
    body > #main {
        grid-template-rows: auto min-content;
    }
    body > #main > #nav {
        grid-area: 2 / 1 / 3 / 2;
    }
    body > #main > #nav {
        flex-direction: column-reverse;
    }
    body > #main > #nav #切换侧栏 {
        transform: rotate(-90deg);
    }
    body > #main > #画布 {
        grid-area: 1 / 1 / 2 / 2;
    }
    .侧栏 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: calc(100vh * (1 / 2));
        height: calc(100vh * (1 / 2));
        width: 100vw;
        transform: translateY(100%);
        z-index: calc(var(--zest-index) + 8);
    }
    .侧栏显示 {
        transform: translateY(0%);
    }
    .侧栏 > #items {
        width: 100%;
    }
    .侧栏 > #handle > div {
        width: 32px;
        height: 4px;
        margin: 8px auto;
    }
    .侧栏 > #tabs {
        width: 100%;
        flex-direction: row;
    }
}

@media (prefers-color-scheme: dark) {
}
