:root {
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --bg-color1: rgba(235, 235, 235, 0.6);
    --bg-color2: rgba(255, 255, 255, 0.72);
    --bg-color3: #ddd;
    --bg-color4: #f5f5f5;
    --color5: #eee;
    --color6: #000;
    --shadow1: 0 0 4px #3333;
    --blur: saturate(180%) blur(20px);
    --bg1: #ffffff;
    --icon-color: none;
    --zest-index: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    border-radius: 10px;
    height: 8px;
    width: 8px;
    background-color: #ddd;
}
::-webkit-scrollbar-corner {
    background-color: #0000;
}

body > #main > #nav {
    background-color: var(--bg1);
    outline: 1px solid var(--color5);
}

.模式突出 {
    background-color: var(--bg-color1);
}

#penc {
    border: none;
}

body > #main > #nav #search {
    border: none;
    padding: 0 4px;
    margin: 4px;
    outline: none;
    height: 24px;
    border-radius: 8px;
    background-color: var(--bg-color4);
}
.侧栏 {
    background-color: var(--bg1);
    transition: var(--transition) transform;
}
.侧栏显示 {
    box-shadow: var(--shadow1);
}

.侧栏 input,
.侧栏 textarea {
    background-color: #0000;
    color: var(--color6);
}
.侧栏 > #items > #文件 > div > input {
    border: none;
    outline: none;
}

.侧栏 > #items > #集 > input {
    border: none;
    outline: none;
}
.侧栏 > #items > #层容器 > div:nth-child(1) {
    background-color: var(--bg1);
}
.层容器 > textarea {
    outline: none;
    border: none;
}
.层容器 > #层 > div > input[type="text"] {
    border: none;
    outline: none;
}

body > #main > #画布 {
    background-color: var(--bg1);
}
body > #main > #画布 > #导航 > #缩放 {
    padding: 0 4px;
}
body > #main > #层容器 > #层 input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #eee;
    transition: var(--transition);
    margin: 0;
    vertical-align: middle;
}
body > #main > #层容器 > #层 input[type="radio"]:checked {
    border: 6px solid #000;
}
body > #main > #层容器 > #层 input[type="text"] {
    border: none;
    background-color: #0000;
    outline: none;
    padding: 0;
    vertical-align: middle;
}

/* 画布 */
body > #main > #画布 > #选择 > div {
    border: 1px solid #000;
}

/* 导航 */
body > #main > #画布 > #导航 > div {
    background-color: var(--color5);
    border-radius: 8px;
    outline: none;
}

body > #搜索结果 {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow1);
    border-radius: 8px;
    box-sizing: border-box;
}
body > #搜索结果 > div {
    margin: 4px;
    cursor: pointer;
}
body > #搜索结果 > div > span > span {
    color: #f55;
}

body > #toast {
    padding: 4px;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    transition: var(--transition);
}

.add_tag {
    outline: none;
    padding: 0;
    border: none;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}

x-x {
    min-width: 1em;
}

x-x > #x-x_bar > div {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    margin-right: 4px;
}
x-x > #x-x_bar > input {
    border: none;
    padding: 0;
    outline: none;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    margin-right: 4px;
    box-shadow: var(--shadow1);
}
x-x > #x-x_bar > input:nth-child(1) {
    width: 100px;
}
x-x > #x-x_bar > input[list="tags"] {
    width: 50px;
}
x-x:focus-within {
    z-index: calc(var(--zest-index) + 1) !important;
}

.x-x_selected > .xxhandle {
    background-color: #0000ff;
}
x-x:hover > .xxhandle {
    background-color: #51516b;
}
x-x > .xxhandle:hover {
    background-color: #0000ff;
}

#t_md {
    border-radius: 4px;
    box-shadow: var(--shadow1);
}
x-md > textarea {
    border-radius: 4px;
    box-shadow: var(--shadow1);
    background-color: var(--bg1);
    outline: none;
    border: none;
}

.handle {
    transition: var(--transition);
}

.drag_top {
    border-top: 2px var(--bg-color3) solid;
}

.drag_bottom {
    border-bottom: 2px var(--bg-color3) solid;
}

x-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
x-graph > div:not(#t_md) {
    width: 500px;
    height: 500px;
}

x-graph > textarea {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    outline: none;
    border: none;
}

x-pro {
    background-color: var(--bg-color3);
    border-radius: 4px;
}
x-pro > div {
    background-color: #000;
}
x-pro > span {
    color: #fff;
}

@media (any-pointer: coarse) {
}

@media screen and (max-width: 420px) {
}

@media all and (orientation: portrait) {
    .侧栏 {
        border-radius: 32px 32px 0 0;
    }
    .侧栏 > #handle > div {
        background-color: var(--bg-color3);
        border-radius: 2px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color1: rgba(20, 20, 20, 0.6);
        --bg-color2: rgba(0, 0, 0, 0.72);
        --bg-color3: #222;
        --bg-color4: #161616;
        --color5: #111;
        --color6: #fff;
        --shadow1: 0 0 4px #ccc6;
        --bg1: #000000;
        --icon-color: invert(1);
    }
    x-sinppet {
        filter: invert(1);
    }
}
