:root {
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --bg-color1: rgba(225, 225, 225, 0.8);
    --bg-color2: rgba(255, 255, 255, 0.72);
    --bg-color3: #ddd;
    --bg-color4: #f5f5f5;
    --bg-color5: rgba(136, 136, 136, 0.2);
    --color5: #eee;
    --color6: #000;
    --shadow1: 0 0 4px #3333;
    --bg1: #ffffff;
    --icon-color: none;
    --zest-index: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    border-radius: 10px;
    height: 8px;
    width: 8px;
    background-color: #ddd;
}
::-webkit-scrollbar-corner {
    background-color: #0000;
}

body {
    color: var(--color6);
}

input,
textarea,
select {
    outline: none;
    border: none;
    background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.bar {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
}

body > #main > #nav {
    background-color: var(--bg1);
}

#画布 > #导航 {
    color: var(--bg1);
}

.模式突出 {
    background-color: var(--bg-color1);
}

#penc {
    border: none;
}

body > #main > #nav #search {
    border: none;
    padding: 0 4px;
    margin: 4px;
    outline: none;
    height: 24px;
    border-radius: 8px;
    background-color: var(--bg-color4);
}
.侧栏 {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    transition: var(--transition) transform;
}
.侧栏显示 {
    box-shadow: var(--shadow1) !important;
}

.侧栏 > #tabs {
    backdrop-filter: blur(60px);
    border-radius: 4px;
}
.selected_item {
    background-color: var(--bg-color5);
    border-radius: 4px;
    backdrop-filter: var(--blur);
}
.selected_item_hide {
    background-color: transparent;
}

.侧栏 > #items > #层容器 > div:nth-child(1) {
    background-color: var(--bg1);
}
.侧栏 > #items > #层容器 > div:nth-child(2) {
    background-color: var(--bg1);
}
.层容器 > #层 ul::before {
    background-color: var(--color6);
}
.层容器 > textarea {
    outline: none;
    border: none;
}

.侧栏 > #items > #中转站 > #临时 > div > .tmp_s_bar > div {
    background-color: var(--bg-color1);
    border-radius: 4px;
    margin-right: 4px;
}
.侧栏 > #items > #资源 > div > div > div {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
}

.侧栏 > #items > #设置 > div:last-child {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
}

.buttom_a {
    background-color: var(--bg-color3) !important;
}

#color_yl {
    border-radius: 50%;
    border: var(--bg1) 2px solid;
    box-shadow: var(--shadow1);
}

x-color {
    background-color: var(--bg-color2);
    box-shadow: var(--shadow1);
    backdrop-filter: var(--blur);
}
#笔 > div {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow1);
}
x-draw-width > div > div {
    background-color: #000;
    border: 2px var(--bg1) solid;
    box-shadow: var(--shadow1);
}

body > #main > #画布 {
    background-color: var(--bg1);
}
/* 画布 */
body > #main > #画布 > #选择 > div {
    border: 1px solid #000;
}

body > #main > #画布 > x-link-value > div {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}

body > #搜索 {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow1);
    border-radius: 4px;
    box-sizing: border-box;
}
body > #搜索 > #搜索结果 > div {
    margin: 4px;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: var(--transition);
}
body > #搜索 > #搜索结果 > div > div > span > span {
    color: #f55;
}

body > #cmd {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow1);
    border-radius: 4px;
}
body > #cmd > #命令输出 > div > span > span {
    font-weight: bold;
}

body > #viewer {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    box-shadow: var(--shadow1);
    border-radius: 4px;
}

body > #toast {
    padding: 4px;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    transition: var(--transition);
}

.add_tag {
    outline: none;
    padding: 0;
    border: none;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}

x-x {
    min-width: 1em;
}

x-x > #x-x_bar {
    gap: 4px;
}
x-x > #x-x_bar > div {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}
x-x > #x-x_bar > input {
    border: none;
    padding: 0;
    outline: none;
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    margin-right: 4px;
    box-shadow: var(--shadow1);
}
x-x > #x-x_bar > input:nth-child(1) {
    width: 100px;
}
x-x > #x-x_bar > input[list="tags"] {
    width: 50px;
}
x-x:focus-within {
    z-index: calc(var(--zest-index) + 1) !important;
}

.x-x_selected > .xxhandle > div {
    background-color: #0000ff;
}
.x-x_selected > .xxhandle {
    border: calc(1px / var(--zoom)) solid #0000ff;
}
x-x:hover > .xxhandle > div {
    background-color: #51516b;
}
x-x:hover > .xxhandle {
    border: calc(1px / var(--zoom)) solid #51516b;
}
x-x > .xxhandle > div:hover {
    background-color: #0000ff;
}

.free_drag_tip {
    background-color: #000;
    position: fixed;
}

#t_md {
    border-radius: 4px;
    box-shadow: var(--shadow1);
}
x-md > textarea {
    border-radius: 4px;
    box-shadow: var(--shadow1);
    background-color: var(--bg1);
    outline: none;
    border: none;
}

.handle {
    transition: var(--transition);
}

.drag_top {
    border-top: 2px var(--bg-color3) solid;
}

.drag_bottom {
    border-bottom: 2px var(--bg-color3) solid;
}

p {
    margin: 0;
}

x-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
x-graph > div:not(#t_md) {
    width: 500px;
    height: 500px;
}

x-graph > textarea {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
    outline: none;
    border: none;
}

x-pro {
    background-color: var(--bg-color3);
    border-radius: 4px;
}
x-pro > div {
    background-color: #000;
}
x-pro > span {
    color: #fff;
}
x-pdf > div > div {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}
x-img > div {
    background-color: var(--bg-color2);
    backdrop-filter: var(--blur);
    border-radius: 4px;
    box-shadow: var(--shadow1);
}

@media (any-pointer: coarse) {
}

@media screen and (max-width: 420px) {
}

@media all and (orientation: portrait) {
    .侧栏 {
        border-radius: 32px 32px 0 0;
        box-shadow: none;
    }
    .侧栏 > #handle > div {
        background-color: var(--bg-color3);
        border-radius: 2px;
    }
    .selected_item_hide {
        background-color: var(--bg-color1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color1: rgba(100, 100, 100, 0.8);
        --bg-color2: rgba(0, 0, 0, 0.72);
        --bg-color3: #222;
        --bg-color4: #161616;
        --bg-color5: rgba(119, 119, 119, 0.2);
        --color5: #111;
        --color6: #fff;
        --shadow1: 0 0 4px #ccc6;
        --bg1: #000000;
        --icon-color: invert(1) !important;
    }
}
