h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

h5 {
    font-size: 0.83em;
    font-weight: bold;
}

h6 {
    font-size: 0.67em;
    font-weight: bold;
}

a {
    color: #000099;
    text-decoration: underline;
}

ul {
    padding-left: 2em;
}

x-link {
    color: #0000cc;
}
